@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:host {
  all: initial;
  /* text colors */
  --text: #14141B;
  --primary: #D90429;
  --primary-hover: #FB3758; /* imperial red */
  --primary-active: #A0031D;
  --secondary: #FFFFFF;
  --secondary-hover: #F5F5F5;
  --accent: #FFDAAD; /* sunset */
  --accent-hover: #FFE3C2;
  --tertiary: #D03991; /* mulberry */

  /* font sizes */
  --text-sm: 11px;
  --text-md: 13px;
  --text-lg: 15px;
  --text-xl: 17px;
  --text-2xl: 19px;
  --text-3xl: 21px;
  --text-4xl: 23px;
  --normal: 500;
  --bold: 600;

  /* paddings/border-radii etc. */
  --sm: 3px;
  --md: 5px;
  --lg: 8px;

  /* transitions */
  --fast: 0.2s;

  /* shadows */
  --shadow-sm: 
    0 1px 2px rgba(0, 0, 0, 0.03),
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08);

  --shadow-md:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 6px 12px rgba(0, 0, 0, 0.11);

  width: 100vw;
  height: 100vh;
  color: var(--text);
  font-family: 'Open Sans', sans-serif
}


* {
  font-family: inherit;
  color: inherit;
}

.slot {
  padding: var(--md);
  box-shadow: var(--shadow-md);
  border-radius: var(--md);
  /* We want everything on top */
  z-index: 2147483646;
}

.toolbar-wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.toolbar {
  display: flex;
  gap: var(--md);
  width: fit-content;
  text-wrap: nowrap;
}

.menu-item-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: calc(100vh - var(--md) * 2);
  background: white;
}