.toolbar-wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2147483600;
}

.toolbar {
  display: flex;
  gap: var(--md);
  width: fit-content;
  text-wrap: nowrap;
}
